.page-wrapper {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

  column-gap: 3rem;
  row-gap: 3rem;
  padding:5rem;
  
}
@media(max-width:501px) {
  .page-wrapper {
    padding:1rem;
    
  }
}


.producer-info-box {
  font-family: 'Poppins' ,sans-serif;
  border: 1px solid rgb(176, 176, 176);
  box-shadow: 10px 10px 1px #0062DF;
  h2 {
    color:#0062DF;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:1rem;
    font-size:1.5rem;
    text-transform: uppercase;
  }
  .info {
    font-size: 1.5rem;
    padding-top:1rem;
    padding-left:1rem;
    padding-bottom:2rem;
    span{
      padding-right: 0.4rem;
      color:#575757;
    }
    h5{
      color:#0062DF
    }
    a {
      text-decoration: none;
      color:#0062DF;
    }
  }
}

.products{
  font-size:1.3rem;
}